/* The general style section */
.YouTube-Exercise{
    font-family: Roboto, Arial;
    background-color: rgb(249, 249, 249);
}

body{
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248, 241, 241);
}